@media screen and (min-width : 320px) and (max-width : 568px)   {
	.container{
		width: 100%;
	}

	/* baner ===============>>>>>> */

	.banner h1{
		width: 150px;
		font-size: 40px;
		padding: 0 10px 10px;
	}
	.banner p{
		width: 80%;
	}
	
	/* MODAL  ===============>>>>>> */

	.frame{
		width: 100%;
		margin-top: 25%;
		padding: 10px 0;
	}
	.big-img{
		width: 360px;
	}
	.close{
		width: 10%;
	}

	/* portfolio ===============>>>>>> */

	.portfolio_item{
		width: 360px;
		margin: auto;
		padding-bottom: 10px;
	}
	.hidden{
		display: block;
		background-color: rgba(43,172,250, 0);
	}
	.portfolio-controls{
		width: 100px;
		margin: auto;
		padding: 155px 0 0 270px;
	}
	.link,
	.zoom{
		background-color: rgba(43,172,250, 0.5);
	}

	/* contact ===============>>>>>> */

	.contact form{
		width: 70%;
	}
	.btn-submit{
		display: block;
		margin: auto;
	}
	.check-box-lable{
		width: 80%;
		margin: auto;
		text-align: center;
	}

	/* footer ===============>>>>>> */

	.footer ul{
		padding-right: 10px;
	}
	.final_text{
		padding-left: 10px;
	}
}